@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.top-header {
    margin: 32px;
}

.top-header h1 {
    margin-right: 32px;
}

h1 {
    display: inline-block;
    font-weight: 300;
}

.top-menu {
    display: inline-block;

}

.top-menu li {
    display: inline-block;
}

.top-menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
}

.top-menu a.active {
    border-bottom: 1px solid black;
}

/* Gallery */

.gallery {
    margin: 0 16px;
}

.card {
    display: inline-block;
    width: 49.75%;
    padding: 16px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.card img:hover {
    opacity: 0.8;
}

.card h2 {
    font-weight: 300;
    margin: 8px 0 16px 0;
}

/* About */

.about {
    margin: 100px 0 50px 200px;
    min-width: 600px;
    width: 40%;
}

.about h3 {
    font-size: 40px;
    font-weight: 300;
}

.cta {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-top: 50px;
    padding-bottom: 8px;
}

/* Contact */

.contact {
    margin: 50px 0 100px 200px;
    min-width: 600px;
    width: 40%;
}

.contact a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

/* Footer */

.footer {
    text-align: center;
    margin: 50px 0;
}